.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

 
.Stats {
  max-height: 652.667px;
  overflow: auto;
} 

.Recipes {
  max-height:550px;
  overflow: auto;
}
.Recipes .inner{
  /* max-height: 430px; */
  /* overflow-x: auto; /* or auto, if you don't want the scroll bar visible all of the time. */
  /*overflow-y: auto; */
  /* display: inline-block;
  position: relative */
}

Card {
  max-width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.graphLabel {
  font-size: 9px;
  font-family: 'Times New Roman', Times, serif
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 10px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
